<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self';">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% for flash_message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.flashes('info') %}
                <div class="alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.flashes('warning') %}
                <div class="alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
